---
name: Reusable workflow for cargo publish

"on":
  workflow_call:
    inputs:
      package-name:
        required: true
        type: string

permissions: read-all

jobs:
  cargo-publish:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Configure rustc version
        run: |
          RUSTC_VERSION=$(grep channel rust-toolchain.toml | tail -n1 | tr -d " " | cut -f2 -d'"')
          echo "RUSTC_VERSION=$RUSTC_VERSION" >> "$GITHUB_ENV"

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ env.RUSTC_VERSION }}
      - uses: Swatinem/rust-cache@v2

      - name: Run cargo publish ${{ inputs.package-name }}
        run: |
          cargo publish --verbose --package ${{ inputs.package-name }} --token ${{ secrets.CRATES_IO_TOKEN }}
